name: Actualizar Rosco con IA
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3
      
      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Instalar librería de IA
        run: pip install google-generativeai

      - name: Generar nuevas preguntas con Gemini
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }} # Aquí saca la llave de la caja fuerte
        run: python generador.py
        
      - name: Guardar cambios
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add preguntas.json
          git commit -m "IA: Rosco generado por Gemini" || echo "Sin cambios"
          git push origin main
